{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}



{% block body %}
    {{ parent() }}
    
    <div class="container">
        <div class="card">
            <img src="{{ asset('images/bannerCoche.PNG') }}">
        </div>
    </div>


{% endblock %}
