{% extends 'base.mobile.html.twig' %}
{% block title %}Adopta un Cubano{% endblock %}
{% block body %}
    <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-inner mx-auto" style="width: 80%">
            <div class="carousel-item active">
                <div style="width: 300px; height: 500px; background-color: #00bb00";>

                </div>
            </div>
            <div class="carousel-item">
                <div style="width: 300px; height: 500px; background-color:salmon";>

                </div>
            </div>
            <div class="carousel-item" >
                <div style="width: 300px; height: 500px; background-color: navajowhite";>

                </div>
            </div>
        </div>
    </div>
{% endblock %}



