{% extends 'baseMobile.html.twig' %}
{% block title %}Inicio - Adopta un Cubano{% endblock %}
{% block body %}
    <div class="cuerpo">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false" data-bs-touch="true" style="display: flex; justify-items: center">
            <div class="carousel-inner" >
                <div class="carousel-item active">

                    <div class="carousel-card">
                        <div class="pplCard">
                            <div class="fotoPerfil" style="background-image: url({{ asset('images/Perfiles/pexels-olya-prutskova-7121391.jpg') }}); background-size: cover ">
                                <div class="infoCard"><h1>María, 26</h1></div>
                            </div>
                            <div class="base">
                                <i class="small bi bi-x-lg"></i>
                                <div class="likeContainer"><i class="big bi bi-suit-heart-fill"></i></div>
                                <i class="bi bi-eye-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-card";>
                        <div class="pplCard">
                            <div class="fotoPerfil" style="background-image: url({{ asset('images/Perfiles/pexels-bia-sousa-3226442.jpg') }}); background-size: cover;">
                                <div class="infoCard"><h1>María, 26</h1></div>
                            </div>
                            <div class="base">
                                <i class="small bi bi-x-lg"></i>
                                <div class="likeContainer"><i class="big bi bi-suit-heart-fill"></i></div>
                                <i class="small bi bi-chat-fill"></i>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="carousel-item" >
                    <div class="carousel-card">
                        <div class="pplCard">
                            <div class="fotoPerfil" style="background-image: url({{ asset('images/Perfiles/pexels-pixabay-220453.jpg') }}); background-size: cover ">
                                <div class="infoCard"><h1>María, 26</h1></div>
                            </div>
                            <div class="base">
                                <i class="small bi bi-x-lg"></i>
                                <div class="likeContainer"><i class="big bi bi-suit-heart-fill"></i></div>
                                <i class="small bi bi-chat-fill"></i>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        .cuerpo{
            padding: 25px 0;
        }
        .carousel-card{
            width: 300px;
            height: 600px;

        }
        .pplCard{
            position: relative;
            display: block;
            background-color: whitesmoke;
            border-radius: 15px;
        }

        .active{
            display: flex !important;
            justify-content: center;
        }
        .infoCard{
            background-color: rgba(0, 0, 0, 0.35);
            padding: 10px;
            width: 100%;
            position: absolute;
            bottom: 0px;


        }
        .infoCard h1{
            font-size: 42px;
            color: white;
            margin-bottom: 0;
        }
         .fotoPerfil{
            width: 300px;
            height: 500px;
            position: relative;
        }
        .base{
            display: flex;
            width: 100%;
            justify-content: space-between;
            height: 90px;
            align-items: center;
            padding: 0 35px;
            border-radius:0px 0px 50px 50px;
        }
        .likeContainer{
            background-color: #CE5353;
            width: 50%;
            height: 100%;
            margin: -10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .base .big{
            font-size: 42px;
            color: whitesmoke;
        }
        .base .small{
            font-size: 26px;
            color: #CE5353;
        }
        .base .bi-eye-fill{
            font-size: 30px;
            color: #CE5353;
        }
    </style>
{% endblock %}

{% block abrirvideo %}
{% endblock %}

{% block cerrarvideo %}
{% endblock %}



