{% extends '/mi_cuenta/index.html.twig' %}

{% block title %}Ajustes de cuenta{% endblock %}

{% block body %}
    {{ parent() }}

{% endblock %}

{% block texto %}
    <h2>AJUSTES</h2>
{% endblock %}

{% block primerIcono %}
    bi-gear-fill
{% endblock%}

{% block segundoIcono %}
    bi-person-fill
{% endblock%}


{% block contenido %}
    <div class="gridAjustes" >
        <div class="editarCampos">
            <h3>Nombre</h3>
            <p></p>
        </div>

        <div class="editarCampos">
            <h3>Apellidos</h3>
            <p></p>
        </div>

        <div class="editarCampos">
            <h3>Correo electrónico</h3>
            <p></p>
        </div>

        <div class="editarCampos" style="border: none !important;">
            <h3>Nacionalidad</h3>
            <p></p>
        </div>



    </div>



    <style>
        .gridAjustes{
            display: grid;
            grid-auto-rows: minmax(1,auto);
        }
        .gridAjustes h3{
            color: #CE5353;
            font-weight: bold;
        }
        .editarCampos{
            border-bottom: solid 0px;
            box-shadow: -2px 2px 6px -3px rgb(0 0 0 / 31%);
        }

    </style>
{% endblock %}