{% extends '/mi_cuenta/index.html.twig' %}


{% block body %}
    {{ parent() }}

    {{ dump() }}
    <style>
        .gridContenido{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows: minmax(min-content,auto);
        }

        .fotoGrid{
            grid-row: 1/4;
        }

        .info{

        }
         .editarPerfil{
            grid-column: 3/5;
         }

         .imagenUsuario{
             width: 150px;
             height: 150px;
             background-position: center;
             background-size: cover;
         }
    </style>

{% endblock %}

{% block contenido %}
    <div class="gridContenido">
        <div class="fotoGrid bg-info ">
            {% if login.galeria and login.galeria.getFotoPerfil %}
                <div class="imagenUsuario mx-auto mt-2 mb-2 " style="background-image: url({{ asset('images/Perfiles/' ~ login.galeria.getFotoPerfil) }});"></div>
            {% else %}
                <p>Sin foto de perfil</p>
            {% endif %}
        </div>

        <div class="info bg-secondary">
            <p>
                {% if login.atributos and login.atributos.nombre %}
                    {{ login.atributos.nombre }}
                {% else %}
                    Desconocido
                {% endif %}
            </p>
            <p>Polla</p>
            <p>Polla</p>
        </div>
        <p class="editarPerfil bg-danger">Polla</p>
        <p>Polla</p>
        <p>Polla</p>
        <p>Polla</p>
        <p>Polla</p>
        <p>Polla</p>
    </div>
{% endblock %}

{% block texto %}
    <p>Perfil</p>
{% endblock %}