@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

p{
    @include font-size(0.8rem);
}
.title {
    @include font-size(1.5rem);
}


body {
    background-color: white;

}

body{
    font-family: Metropolis,sans-serif;

}

/*Selector de rango de js del home*/
input[type=range] {
    box-sizing: border-box;
    appearance: none;
    width: 25vw;
    min-width: 180px;
    margin: 0;
    padding: 0 2px;
    /* Add some L/R padding to ensure box shadow of handle is shown */
    overflow: hidden;
    border: 0;
    border-radius: 1px;
    outline: none;
    background: linear-gradient(grey, grey) no-repeat center;
    /* Use a linear gradient to generate only the 2px height background */
    background-size: 100% 2px;
    pointer-events: none;

    &:active,
    &:focus {
        outline: none;
    }

    &::-webkit-slider-thumb {
        height: 2vh;
        width: 2vh;
        border-radius: 28px;
        background-color: #fff;
        position: relative;
        margin: 5px 0;
        /* Add some margin to ensure box shadow is shown */
        cursor: pointer;
        appearance: none;
        pointer-events: all;
        box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            top: 13px;
            left: 100%;
            width: 2000px;
            height: 2px;
        }
    }
}

.multi-range {
    position: relative;


    input[type=range] {
        position: absolute;
        bottom: -9px;

        &:nth-child(1) {
            &::-webkit-slider-thumb::before {
                background-color: red;
            }
        }

        &:nth-child(2) {
            background: none;

            &::-webkit-slider-thumb::before {
                background-color: grey;
            }
        }
    }
}
/*Selector de rango de js del home*/

/*CSS pop up conversaciones*/

.popupMensajes{
    position: fixed;
    bottom: 80px;
    right: 35px;
    width: 75px;
    height: 75px;
    background-color: #E86362;
    z-index: 100;
    border-radius: 360px;
    cursor: pointer;
}

.chatPopUp{

}

div p{
    margin-bottom: 0;
}

.gridContactos{
    display:grid;
    grid-template-areas:
        "textoCabeceraPoUp textoCabeceraPoUp textoCabeceraPoUp textoCabeceraPoUp icono1Cabecera icono2Cabecera"
        "contenidoPopUp contenidoPopUp contenidoPopUp contenidoPopUp contenidoPopUp contenidoPopUp";
    grid-template-rows: 40px auto;
    background-color: #CE5353FF;
}

.contenidoPopUp{
    grid-column: 1/4;
    grid-area: contenidoPopUp;
    background-color: #E1E1E1;


}
.textoCabeceraPoUp,.icono1Cabecera,.icono2Cabecera{
    display: flex;
    align-items: center ;
}

.textoCabeceraPoUp{
    grid-area: textoCabeceraPoUp;
}
.icono1Cabecera{
    grid-area: icono1Cabecera;
    justify-self: end;
}
.icono2Cabecera{
    grid-area: icono2Cabecera;
    justify-self: end;
}

.mensajesPopUp{
    grid-area: mensajes;
    background-color: #E1E1E1;
    display: flex;
    flex-direction: column;
    overflow: auto;

}
.mensajePopUp{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mensajePopUp p{
    margin: 0;
}
.notificacionMensajePopUp{
    background-color: #CE5353;
    width: 25px;
    height: 25px;
    text-align: center;
}


/*CSS pop up conversaciones*/