{% extends 'baseMobile.html.twig' %}

    {% block title %}Notificaciones{% endblock %}

{% block body %}
    <div style="width: 300px; height: 500px; background-color: tomato;"><h1>HOLA MUNDO</h1></div>
{% endblock %}
