{% extends 'base.html.twig' %}

{% block title %}Adopta un Cubano{% endblock %}
{% block subheader %}
{% endblock %}
{% block header %}


    <div class="contenedorHeader">
            <a href="/" class="logoHeader">
                <img class=" img " style="margin-left: 0; max-width: 10em" src="{{ asset('images/Logos/LogoHeader.png') }}" ></img>
            </a>

        <div class="subcontenedor">
                <div class="menu">
                    <a href="#" >Información</a>
                    <a href="#" >Ayuda</a>
                </div>

                <div>
                    <button  style="; color: white; border-radius: 10px; margin-bottom: 0 " type="button" onclick="location.href='login'" class="button">Iniciar Sesión</button>
                </div>
        </div>
    </div>


{% endblock %}

{% block body %}
<div class="video-container">
    <video autoplay muted loop>
        <source src="{{ asset('videos/fondoIndex1.mp4') }}" type="video/mp4" />
    </video>
            <div class="contenedor">
                <button onclick="location.href='register'" class="col align-self-center button reg">Regístrate</button>

            </div>
</div>

    <style>
        .reg{
            transition: transform .2s;
        }
        .reg:hover{
            transform: scale(1.1);
        }
        .main-content{
            margin-top: 0 !important;
        }
        body{
            background-color: black;
        }

        .contenedorHeader{
            display: flex;
            align-items: center;
            padding: 5px 20px;

        }
        .subcontenedor{
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
        .menu{
            display: flex;
            align-items: center;

        }
        .menu a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            margin-left: 20px;

        }
        .video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            position: relative;
            background-color:  rgba(0 0 0 / 60%);
        }

        .video-container video {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            z-index: -2;
            filter: blur(3px);
        }
        .button{

            padding: 5px 15px;
            border-radius: 200px !important;
            outline: none;
            border: none;
            background-color: #e86362;
            color: white;
            box-shadow:inset 0px -10px 6px -3px rgb(0 0 0 / 31%);
            margin-bottom: 25px;

        }
        .button:hover{
            background-color: #a24746;
        }
        .contenedor{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .contenedor .button{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 46px;
            padding: 5px 40px;
            box-shadow: none;
            background-color: rgba(0, 0, 255, 0);

        }
        .contenedorHeader .button{
            margin-left: 50px;

        }

    </style>


{% endblock %}




