{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block header %}


    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center  justify-content-lg-start order-lg-1 order-1">
            <a href="/" class="d-flex align-items-center p-2 mb-2 mb-lg-0 text-white text-decoration-none">
                <img class=" img " style="margin-left: 0; max-width: 10em" src="{{ asset('images/Logos/LogoHeader.png') }}" ></img>
            </a>

            <ul class="nav col-12 col-lg-5 ms-lg-auto mb-2 justify-content-end mb-md-0 order-lg-2 order-3">
                <li><a href="#" class="nav-link px-2 text-white">Información</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Ayuda</a></li>
            </ul>

            <div class="text-end order-lg-3 order-2 ms-auto ms-lg-auto">
                <button  style="background-color: #e86362; color: white; border-radius: 10px; " type="button" onclick="location.href='login'" class="btn btn-sm">Iniciar Sesión</button>
            </div>
        </div>
    </div>


{% endblock %}

{% block body %}
    <div class="container " id="registroIndex">
        <div class="d-flex  align-items-center justify-content-center flex-column">
            <div class="col align-self-center"><p class="text-white">Sal y encuentra el amor</p></div>
            <div onclick="location.href='register'" class="col align-self-center"><button  style="background-color: #e86362; color: white; border-radius: 10px; " type="button" class="btn btn-sm">Registrarse</button></div>

        </div>
    </div>

    <style>

        body{
            background-size: cover;
            background-position: center 15%;
            background-repeat: no-repeat;
            background-image: url({{ asset('images/Backgrounds/fondoIndex.png') }});
        }


        #registroIndex{
            padding-top: 20%;
        }
    </style>


{% endblock %}




