{% extends 'base.mobile.html.twig' %}

{% block title %}Adopta un Cubano{% endblock %}

{% block header %}
    <div class="contenedor">
        <a href="/" class="d-flex align-items-center p-2 mb-lg-0 text-white text-decoration-none">
            <img class=" img " style="margin-left: 0; max-width: 10em" src="{{ asset('images/Logos/LogoHeader.png') }}" >
        </a>

        <div class="subHeader">
        <a href="#" class="nav-link px-2 text-white linkHeader">Información</a>
        <a href="#" class="nav-link px-2 text-white linkHeader">Ayuda</a>
        </div>
    </div>


<style>
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor .linkHeader{
        font-size: 12px;
    }
    .contenedor img{
    }
    body{
        background-image: url("{{ asset('images/Backgrounds/fondoIndex.png') }}") !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center;
    }

</style>
{% endblock %}

{% block body %}
    <div class="contenedor2">
        <div class="part primera" onclick="location.href='login'">
            INICIAR SESION
        </div>

        <div class="part segunda" onclick="location.href='register'">
            REGISTRARSE
        </div>
        {#<button class="boton" onclick="location.href='register'" type="button">Registrarse</button>
        <button class="boton" type="button" onclick="location.href='login'">Iniciar Sesión</button>#}
    </div>

<style>
    .contenedor2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }
    .subHeader{
        display: flex;
    }
    .part{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 50%;
        color: whitesmoke;
        font-size: 24px;
        box-shadow:inset 0 0 10px -4px rgb(255 255 255 / 31%);
    }
    .part:active{
        background-color: unset;
    }
    .boton{
        padding: 5px 15px;
        border-radius: 200px !important;
        outline: none;
        border: none;
        background-color: #e86362;
        color: white;
        box-shadow:inset -2px 2px 6px -3px rgb(0 0 0 / 31%);
        margin-bottom: 25px;
    }
    html{
        width: 100%;
    }

</style>
{% endblock %}


